/emakijo/emakijo/settings.py
/.idea/.gitignore
/data/448903795.txt
/emakijo/emakijo/spiders/__init__.py
/emakijo/emakijo/__init__.py
/add.txt
/.idea/inspectionProfiles/desktop.ini
/.idea/desktop.ini
/data/desktop.ini
/emakijo/emakijo/spiders/desktop.ini
/emakijo/emakijo/desktop.ini
/emakijo/desktop.ini
/webdriver/desktop.ini
/desktop.ini
/.idea/emak2ijobot.iml
/emakijo/emakijo/items.py
/emakijo/emakijo/middlewares.py
/.idea/misc.xml
/.idea/modules.xml
/emakijo/emakijo/pipelines.py
/.idea/inspectionProfiles/profiles_settings.xml
/emakijo/scrapy.cfg
